<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
    <link rel="icon" type="image/x-icon" href="../images/favicon1.png">

    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/about.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


    <!---------Icons Import-----  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <!-- Line Awesome CDN Link -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />


    <link rel="icon" type="image/x-icon" href="../images/favicon1.png">
    <title>QR Insight</title>
</head>

<body>




    <!-- --------Navigation Part--------- -->
    <nav>
        <div>
            <a href="../index.html">
                <img id="logo" src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="dropdown">
            <h4 class="nav-elem">Products <ion-icon name="chevron-down-outline"></ion-icon></h4>
            <div class="dropdown-content">
                <a href="./scannar.html">
                    <img src="https://media.istockphoto.com/id/1324087782/vector/qr-code-smartphone-in-hand-icon-abstract-vector-bar-code-vector-illustration.jpg?s=612x612&w=0&k=20&c=DxsBC2ZrRysegucpg5qHJd6BR_dxmPAWpSaRvVbLvLc="
                        alt="">
                    QR Scanner
                </a>
                <a href="./qr.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fqr-code-free.491f89af.png&w=96&q=75"
                        alt="">
                    QR Code Generator
                </a>
                <a href="./scannar.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fanalytics-blue.5188059c.png&w=96&q=75"
                        alt="">
                    Detail Analysis
                </a>
                <a href="./qr.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdynamic_qr.ace7a1d3.png&w=96&q=75"
                        alt="">
                    Dynamic QR Code
                </a>
            </div>
        </div>
        <div>
            <a href="./blog.html">
                <h4 class="nav-elem">Articles</h4>
            </a>
        </div>
        <div>
            <a href="./about.html" style="color: black;">
                <h4 class="nav-elem">About Us</h4>
            </a>
        </div>
        <div>
            <a href="./feedback.html">
                <h4 class="nav-elem">Contact</h4>
            </a>
        </div>
        <div>
            <p class="userName2"></p>
        </div>
        <div>
            <div class="dropdown">
                <ion-icon id="userIcon" name="person-circle-outline"></ion-icon>
                <div class="dropdown-content" id="user-dropdown">
                    <a href="">
                        <p class="userName1"></p>
                    </a>
                    <a href="./profile.html">
                        <p id="userDetails">Profile</p>
                    </a>
                    <a href="../Admin/index.html" id="Dashboard_admin_nav">
                        <p>Dashboard</p>
                    </a>
                    <!-- <a href=""> -->
                        <p onclick="clearLocalStorage()" id="logoutBtn">Logout</p>
                    <!-- </a> -->

                </div>
            </div>
        </div>
        <div>
            <a href="./login.html">
                <button id="loginBtn" class="Btn">Login</button>
            </a>
        </div>
        <div onclick="hamburger()">
            <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
        </div>
        </div>
    </nav>



    <!-- -----------Hamburger Menu----------- -->

    <div class="menu-page">
        <div>
            <img id="logo" src="../images/logo.png" alt="">
            <div onclick="remove()"><ion-icon name="close"></ion-icon></div>
        </div>
        <div class="dropdown-container">
            <h1>Products</h1>
            <div class="dropdown-menu">
                <div><a href="./scannar.html">QR Scanner</a></div>
                <div><a href="./qr.html">QR Code Generator</a></div>
                <div><a href="./scannar.html">Detail Analysis</a></div>
                <div><a href="./qr.html">Dynamic QR Code</a></div>
            </div>
            <div onclick="openProduct()">
                <ion-icon class="down-arrow" name="chevron-down-circle-outline"></ion-icon>
            </div>

        </div>
        
        <h1><a href="./blog.html"> Articles</a></h1>
        <h1><a href="./about.html"> About Us</a></h1>
        <h1><a href="./feedback.html">Contact</a> </h1>

    </div>






    <!-- meddel section start hare -->
    <div id="about_section">
        <h1 id="hading">About Us</h1>
        <div id="pankaj-div">
            <div id="detail-data">
                <div>
                    <div>
                        <p><span>Website </span> </p>
                        <p><span> Company</span></p>
                        <p><span> Address</span>
                        <p><span> VAT ID</span> </p>
                        <p><span>D-U-N-S </span> </p>
                        <p> <span> Contact</span></p>
                        <p><span>Company No.</span></p>

                    </div>
                    <div>
                        <p><span><a href="https://inquisitive-pixie-c2b3da.netlify.app/">QR-Insight.com</a></span></p>
                        <p> <span>QR Insight</span></p>
                        <p> <span>1060 ViennaAustria</span></p>
                        <p><span> ATU76402509</span></p>
                        <p><span> 300636843</span></p>
                        <p> <span>QR Insight</span></p>
                        <p> <span> FN 545612 x</span></p>


                    </div>
                </div>
            </div>
            <div id="slider-pankaj">
                <main id="main" role="main">
                    <section id="image-section">
                        <div class="container">
                            <article id="contain-image">
                                <img src="https://media.gettyimages.com/id/1326127772/photo/businessman-holding-digital-tablet-over-box-at-desk.jpg?s=612x612&w=0&k=20&c=mku2h8M2T86Hf7Amd4Igo_aHDzJc8IDO8KYYr6_sjxw="
                                    alt="Image" class="img" id="img5">


                                <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/149468400/original/77857dd45a07f24878c9751706475e0ba4e26d11/design-animated-gif-for-your-business.png"
                                    alt="Image" class="img" id="img1">
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs3/149468400/original/286cdb1dfe1626c4d6ecd8c01765928f199797f7/design-animated-gif-for-your-business.jpg"
                                    alt="Image" class="img" id="img2">
                                <img src="https://media.gettyimages.com/id/1446220010/photo/young-casually-clothed-man-getting-from-a-delivery-guy-in-the-office.jpg?s=612x612&w=0&k=20&c=TCZNYBYx894caQevQ1mrwdrMM-cjg4fnl5MNMxPZQAM="
                                    alt="Image" class="img" id="img3">
                                <img src="https://media.gettyimages.com/id/1248900207/photo/businesswomen-syncing-their-phones-with-covid-19-tracking-app.jpg?s=612x612&w=0&k=20&c=nQ3werNrVkfoetflhqG5woFT3X3xUcajnBRPjNWTKMU="
                                    alt="Image" class="img" id="img3">
                                <img src="https://media.gettyimages.com/id/1248900282/photo/businessman-showing-covid-19-tracking-app-on-his-phone.jpg?s=612x612&w=0&k=20&c=2A_SzeZtU-NCF9b6Lb3rokApr8JfkaFQQLiWHD1QGZw="
                                    alt="Image" class="img" id="img3">

                                <div id="contain-button">
                                    <ion-icon name="radio-button-on" class="button" id="button1"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button2"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button3"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button4"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button5"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button6"></ion-icon>
                                    <ion-icon name="radio-button-on" class="button" id="button7"></ion-icon>
                                </div>
                            </article>
                        </div>
                    </section>
                </main>

            </div>
        </div>

    </div>
    <div id="dis-pankaj">

        <h3>About to Insight</h3>

        <p>Welcome, A QR code website is a website that uses QR codes to provide quick and easy access to information or
            resources. QR codes are two-dimensional barcodes that can be scanned using a smartphone camera, providing a
            seamless way to connect users with digital content. A QR code website typically consists of a series of web
            pages that are designed to be mobile-friendly and easy to navigate. Each page on the site is associated with
            a specific QR code, . Users can simply scan the QR code with their smartphone camera, and they will be taken
            directly to the corresponding web page.</p>

        <h3>Our Features</h3>

        <p>
            <span><i class="fas fa-check"></i> High-capacity storage: QR codes can store much more data than traditional
                barcodes.</span><br><br>
            <span><i class="fas fa-check"></i> making them ideal for storing a wide range of information.</span><br><br>
            <span><i class="fas fa-check"></i> including text, URLs, email addresses, phone numbers, and
                more.</span><br><br>
            <span><i class="fas fa-check"></i> Easy to scan: QR codes can be quickly and easily scanned using a
                smartphone camera, eliminating the need for special scanning equipment or software.</span><br><br>
            <span><i class="fas fa-check"></i> eliminating the need for special scanning equipment or
                software.</span><br><br>

            <span><i class="fas fa-check"></i> Customizable design: QR codes can be customized with different colors,
                shapes, and logos to match your branding or preferences.</span><br><br>
            <span><i class="fas fa-check"></i> Easy to create: QR codes can be easily created using online tools and
                software. </span><br><br>


        </p>

        <h3>Tech-Stack</h3>

        <p id="tech_stack_disp">

            <span><i class="fas fa-check"></i> Node-JS</span>
            <span><i class="fas fa-check"></i> Express-JS</span>
            <span><i class="fas fa-check"></i> QR-Code</span>
            <span><i class="fas fa-check"></i> HTML5QR-Code</span>
            <span><i class="fas fa-check"></i> Socket-io</span>
            <span><i class="fas fa-check"></i> MongoDB</span>
            <span><i class="fas fa-check"></i> Redis</span>
            <span><i class="fas fa-check"></i> Mongoose</span>
            <span><i class="fas fa-check"></i> JavaScript</span>
            <span><i class="fas fa-check"></i> Winston</span>
            <span><i class="fas fa-check"></i> PM2</span>
            <span><i class="fas fa-check"></i> HTML</span>
            <span><i class="fas fa-check"></i> CSS</span>
            <span><i class="fas fa-check"></i> Bootstrap</span>
            <span><i class="fas fa-check"></i> JWT</span>
            <span><i class="fas fa-check"></i> Bcrypt</span>

        </p>

        <h3>Disclaimer</h3>

        <p>Welcome to QRInsight ! Our website offers a range of services related to QR code generation and scanning, as
            well as other functionalities. At QRInsight, we offer a wide range of services to make QR code generation
            and scanning easier and more accessible than ever before. Our user-friendly interface and intuitive design
            make it easy for anyone to create and scan QR codes, even without any prior experience. Thank you for
            choosing QRInsight, and we look forward to helping you explore the exciting world of QR codes! </p>

        <h3>Hyperlinks</h3>

        <p>Welcome to QR Code Scanner, Generator, and Analysis ! Please note that references and links from our website
            to other websites are provided for informational purposes only. We have not verified all of these websites
            and have no control over the content and representation of these linked sites. Therefore, QR Code Scanner,
            Generator, and Analysis explicitly disclaims any responsibility for the content of such linked sites if they
            contain illegal content. Accessing such websites via a link from our website is solely at your own risk.

            However, we do permit hyperlinks to the homepages of <span>QR-Insight-Craft</span>  provided that the
            linked site does not contain any illegal content.</p>

        <h3>Our Mission</h3>
        <p>Our mission is to empower businesses and individuals to create and analyze QR codes with ease and efficiency.
            We believe that QR codes are a powerful tool for modern marketing and communication, and we want to make
            their use accessible to everyone. By providing a user-friendly platform with advanced analytics and
            customization options, we aim to help our users unlock the full potential of QR codes and drive meaningful
            engagement with their audience. We are committed to innovation, reliability, and customer satisfaction, and
            we strive to be the leading provider of QR code generation and analysis solutions.</p>
    </div>
    <h1 id="hading">Developers</h1>
    <div id="profile-pankaj">
        <div>
            <section class="main">
                <div class="profile-card">
                    <div class="image">
                        <img src="../images/developer/nitesh.jpg" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2>Nitesh Kumar</h2>
                        <span>BackEnd Developer</span>
                    </div>
                    <div class="row">
                        <span>Skilled and dedicated developer with a passion for innovative solutions, proficient in
                            multiple programming languages .</span>
                    </div>
                    <div class="buttons">
                        <a href="mailto:niteshkumar240198@gmail.com?subject=QR%20Insight%20Support%20Center:%20Connect%20with%20Us%20for%20Assistance&body=Dear%20Nitesh"
                            class="btn">Message</a>
                        <a href="https://www.linkedin.com/in/nitesh-kumar-119819253/" target="_blank" class="btn">Follow
                            Me</a>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class="main">
                <div class="profile-card">
                    <div class="image">
                        <img src="../images/developer/kishan.png" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2>Kishan Sharma</h2>
                        <span>Full Stack Developer</span>
                    </div>
                    <div class="row">
                        <span>Bringing years of experience in software development, web development, and user experience
                            design to the team.</span>
                    </div>
                    <div class="buttons">
                        <a href="mailto:kishansharma6377@gmail.com?subject=QR%20Insight%20Support%20Center:%20Connect%20with%20Us%20for%20Assistance&body=Dear%20Kishan"
                            class="btn">Message</a>
                        <a href="https://www.linkedin.com/in/kishan-sharma6377/" target="_blank" class="btn">Follow
                            Me</a>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class="main">
                <div class="profile-card">
                    <div class="image">
                        <!-- <img src="https://tinypic.host/images/2022/12/19/img_avatar.png" alt="" class="profile-pic"> -->
                        <img src="../images/developer/Venkatesh.jpg" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2>Venkatesh Tiwari</h2>
                        <span>Developer & Designer</span>
                    </div>
                    <div class="row">
                        <span>Dedicated to ensuring that the platform is user-friendly and having passion for learning
                            and developing things.</span>
                    </div>
                    <div class="buttons">
                        <a href="mailto:venkat88676@gmail.com?subject=QR%20Insight%20Support%20Center:%20Connect%20with%20Us%20for%20Assistance&body=Dear%20Venkatesh"
                            class="btn">Message</a>
                        <a href="https://www.linkedin.com/in/venkatesh-tiwari-80b361248/" target="_blank"
                            class="btn">Follow Me</a>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class="main">
                <div class="profile-card">
                    <div class="image">
                        <img src="../images/developer/rajesh.png" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2>Rajesh Kumar</h2>
                        <span>Developer & Designer</span>
                    </div>
                    <div class="row">
                        <span>Continuously striving to innovate and improve the platform to meet the evolving needs of
                            our users.</span>
                    </div>
                    <div class="buttons">
                        <a href="mailto:mr.rajeshkumar7678@gmail.com?subject=QR%20Insight%20Support%20Center:%20Connect%20with%20Us%20for%20Assistance&body=Dear%20Rajesh"
                            class="btn">Message</a>
                        <a href="https://www.linkedin.com/in/rajesh-kumar-99a67524b/" target="_blank" class="btn">Follow
                            Me</a>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class="main">
                <div class="profile-card">
                    <div class="image">
                        <img src="../images/developer/pankaj.png" alt="" class="profile-pic">
                    </div>
                    <div class="data">
                        <h2>Pankaj Jain</h2>
                        <span>Developer & Designer</span>
                    </div>
                    <div class="row">
                        <span>A valued member of our team, committed to customer satisfaction and the success of our
                            project.</span>
                    </div>
                    <div class="buttons">
                        <a href="mailto:pj9009815223@gmail.com?subject=QR%20Insight%20Support%20Center:%20Connect%20with%20Us%20for%20Assistance&body=Dear%20Pankaj"
                            class="btn">Message</a>
                        <a href="https://www.linkedin.com/in/pankaj-jain-a5586621b/" target="_blank" class="btn">Follow
                            Me</a>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!-------------Footer-------------  -->
    <footer id="about_footer_section">

        <div id="footer-contact">
            <div>
                <div class="contact">
                    <div> <ion-icon name="location-sharp"></ion-icon></div>

                    <p>House N0 1 Shivaji Nagar ,Gandhi Road ,Delhi ,New Delhi</p>
                </div>
                <div class="contact">
                    <div><ion-icon class="chat-icon" name="chatbubble-ellipses-outline"></ion-icon></div>

                    <p><a href="./botchat.html" target="_blank">
                            Chat With Us
                        </a></p>
                </div>
                <div class="contact">
                    <div> <ion-icon class="mail-icon" name="mail-sharp"></ion-icon> </div>

                    <!-- Contact us page link -->
                    <p>
                        <a href="./feedback.html">
                            Contact Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <h3>Useful Links</h3>
            <p>
                <a href="./scannar.html">
                    QR Scanner
                </a>
            </p>
            <p>
                <a href="./qr.html">
                    QR Code Generator
                </a>
            </p>
            <p>
                <a href="./scannar.html">
                    Detail Analysis
                </a>
            </p>
            <p>
                <a href="./qr.html">
                    Dynamic QR Code
                </a>
            </p>

        </div>
        <div>
            <h3>About</h3>
            <p>
                <a href="./about.html">
                    About Us
                </a>
            </p>
            <p>
                <a href="./feedback.html">
                    Contact
                </a>
            </p>
            <p>
                <a href="./blog.html">
                    Blog
                </a>
            </p>
        </div>

        <div class="socialmedia">
            <h3>Social-Media</h3>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-linkedin"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-github"></ion-icon>

        </div>
    </footer>



</body>

<script src="../Scripts/about.js"></script>
<script src="../Scripts/navbar.js"></script>

</html>