<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/feedback.css">
    <title>Document</title>
</head>

<body>
   
    <div class="container">

        <form class="form-container">
         
            <div class="headline"><span>Feedback</span></div>
            <div class="form-line success">
                <input id="name-pankaj" type="text" class="form-input" value="">
                <label class="top">Name</label>
                <div class="check-label"></div>
            </div>
            <div class="form-line">
                <input id="email-pankaj" type="text" class="form-input" required>
                <label>Your email *</label>
                <div class="error-label">Field is required!</div>
                <div class="check-label"></div>
            </div>

            <div class="form-line">
                <textarea id="text-message" class="form-input" required></textarea>
                <label>Message</label>
                <div class="check-label"></div>
                <div class="error-label">Field is required!</div>
            </div>

            <input onclick="feedback()" type="button" class="form-button" value="Submit">
        </form>
    </div>

</body>

</html>

<script src="../Scripts/feedback.js"></script>