<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../images/favicon1.png">
  <title>QR Insight</title>
  <link rel="stylesheet" href="../Styles/forgetpass.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="raj-container">
    <form id="raj-form1">
      <h3>Enter your Registered Email ID</h3>
      <input type="email" id="raj-email" placeholder="Enter Registered Email" required>
      <div class="raj-btn-box">
        <button type="button" id="raj-next1">Next </button>
      </div>
    </form>
    <form id="raj-form2">
      <h3>Enter Your OTP</h3>
      <input type="number" id="raj-otp" placeholder="Enter Your OTP"><br>
      <div class="raj-btn-box">
        <button type="button" id="raj-next2">Verify</button>
      </div>
    </form>
    <form id="raj-form3">
      <h3>Create New Password</h3>
      <input type="password" id="raj-new" placeholder="Enter New Password Here" required>
      <input type="password" id="raj-cnew" placeholder="Re-Enter Password Here" required>
      <div class="raj-btn-box">
        <button type="submit" id="raj-next3">Submit</button>
      </div>
    </form>
    <div class="raj-step-row">
      <div id="raj-progress"></div>
      <div class="raj-step-col"><small>Step 1</small></div>
      <div class="raj-step-col"><small>Step 2</small></div>
      <div class="raj-step-col"><small>Step 3</small></div>
    </div>
  </div>



</body>
<script src="../Scripts/forgetpass.js"></script>

</html>