<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../Styles/login.css">
</head>
<body>
    <div class="login-card">
        <a href="../index.html"><img src="../images/logo.png" id="qrinsight_logo_login" alt=""></a>
        <h2>Login</h2>
        <h3>Enter your credentials</h3>
        <form class="login-form" id="raj-form">
            <input id="raj-email" type="email" placeholder="Email"/>
            <input id="raj-pass" type="password" placeholder="Password"/>
            <a href="./forgetpass.html">Forgot your password?</a>
            <button>LOGIN</button>
            <a href="./signup.html">New user? Register Here</a>
        </form>
        <hr class="hr-text" data-content=" OR Login With">
        <button id="raj-google">Google</button>
        <button id="raj-github">Github</button>
        
    </div>
</body>
<script src="../Scripts/login.js"></script>
</html>