<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon1.png">
    <title>login-QR Insight</title>
    <link rel="stylesheet" href="../Styles/login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../Styles/alert.css">


</head>

<body>
    <div class="login-card">
        <a href="../index.html"><img src="../images/logo.png" id="qrinsight_logo_login" alt=""></a>
        <h2>Login Here</h2>
        <h3>Enter Your Credentials</h3>
        <form class="login-form" id="raj-form">
            <input id="raj-email" type="email" placeholder="Enter Your Email" />
            <input id="raj-pass" type="password" placeholder="Enter Your Password" />
            <a href="./forgetpass.html" id="forgotPassBtn">Forgot Password?</a>

            

            <button id="qr-loginbtn">
                 Login
            </button>


            <a href="./signup.html">New user? Register Here</a>
        </form>
        <hr class="hr-text" data-content=" OR Login With">
        <button id="raj-google">Google</button>
        <button id="raj-github">Github</button>

    </div>
    
</body>
<script src="../Scripts/login.js"></script>

</html>
