<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon1.png">
    <title>QR Insight</title>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Source+Serif+Pro&display=swap" rel="stylesheet">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
        integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        
    <!---------Icons Import-----  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <!-- Line Awesome CDN Link -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />

    <link rel="stylesheet" href="../Styles/index.css">

    <link rel="stylesheet" href="../Styles/scannar.css">
</head>

<body>

    <!-- --------Navigation Part--------- -->
    <nav>
        <div>
            <a href="../index.html">
                <img id="logo" src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="dropdown">
            <h4 class="nav-elem">Products <ion-icon name="chevron-down-outline"></ion-icon></h4>
            <div class="dropdown-content">
                <a href="./scannar.html">
                    <img src="https://media.istockphoto.com/id/1324087782/vector/qr-code-smartphone-in-hand-icon-abstract-vector-bar-code-vector-illustration.jpg?s=612x612&w=0&k=20&c=DxsBC2ZrRysegucpg5qHJd6BR_dxmPAWpSaRvVbLvLc="
                        alt="">
                    QR Scanner
                </a>
                <a href="./qr.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fqr-code-free.491f89af.png&w=96&q=75"
                        alt="">
                    QR Code Generator
                </a>
                <a href="./scannar.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fanalytics-blue.5188059c.png&w=96&q=75"
                        alt="">
                    Detail Analysis
                </a>
                <a href="./qr.html">
                    <img src="https://www.unitag.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdynamic_qr.ace7a1d3.png&w=96&q=75"
                        alt="">
                    Dynamic QR Code
                </a>
            </div>
        </div>
        <div>
            <a href="./blog.html">
                <h4 class="nav-elem">Articles</h4>
            </a>
        </div>
        <div>
            <a href="./about.html" style="color: black;">
                <h4 class="nav-elem">About Us</h4>
            </a>
        </div>
        <div>
            <a href="./feedback.html">
                <h4 class="nav-elem">Contact</h4>
            </a>
        </div>
        <div>
            <p class="userName2"></p>
        </div>
        <div>
            <div class="dropdown">
                <ion-icon id="userIcon" name="person-circle-outline"></ion-icon>
                <div class="dropdown-content" id="user-dropdown">
                    <a href="">
                        <p class="userName1"></p>
                    </a>
                    <a href="./profile.html">
                        <p id="userDetails">Profile</p>
                    </a>
                    <a href="../Admin/index.html" id="Dashboard_admin_nav">
                        <p>Dashboard</p>
                    </a>
                    <!-- <a href=""> -->
                        <p onclick="clearLocalStorage()" id="logoutBtn">Logout</p>
                    <!-- </a> -->

                </div>
            </div>
        </div>
        <div>
            <a href="./login.html">
                <button id="loginBtn" class="Btn">Login</button>
            </a>
        </div>
        <div onclick="hamburger()">
            <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
        </div>
        </div>
    </nav>



    <!-- -----------Hamburger Menu----------- -->

    <div class="menu-page">
        <div>
            <img id="logo" src="../images/logo.png" alt="">
            <div onclick="remove()"><ion-icon name="close"></ion-icon></div>
        </div>
        <div class="dropdown-container">
            <h1>Products</h1>
            <div class="dropdown-menu">
                <div><a href="./scannar.html">QR Scanner</a></div>
                <div><a href="./qr.html">QR Code Generator</a></div>
                <div><a href="./scannar.html">Detail Analysis</a></div>
                <div><a href="./qr.html">Dynamic QR Code</a></div>
            </div>
            <div onclick="openProduct()">
                <ion-icon class="down-arrow" name="chevron-down-circle-outline"></ion-icon>
            </div>

        </div>
        
        <h1><a href="./blog.html"> Articles </a></h1>
        <h1><a href="./about.html"> About Us</a></h1>
        <h1><a href="./feedback.html">Contact</a> </h1>

    </div>




    
    <!-- qr code heading -->
    <div id="qr_heading">
        <h2>QR Code Scannar 💖</h2>
        <p>Free Scan QR codes</p>
    </div>

    <!-- QR Scannar Main  -->
    <div id="qr_scannar_section">
        <div>
            <img src="https://cdn.dribbble.com/users/1042765/screenshots/3636083/qr-code_animated.gif" alt="">
        </div>
        <main>
            <div id="reader"></div>
            <div id="result"></div>
            <button onclick="handleback()" id="backbtn"> Scan QR</button>
        </main>
        <div>
            <img src="https://i.pinimg.com/originals/95/c8/db/95c8db5e266eaa21573d011d5cf0c883.gif" alt="">
        </div>
    </div>



    <!-------------Footer-------------  -->
    <footer>

        <div id="footer-contact">
            <div>
                <div class="contact">
                    <div> <ion-icon name="location-sharp"></ion-icon></div>

                    <p>House N0 1 Shivaji Nagar ,Gandhi Road ,Delhi ,New Delhi</p>
                </div>
                <div class="contact">
                    <div><ion-icon class="chat-icon" name="chatbubble-ellipses-outline"></ion-icon></div>

                    <p><a href="./botchat.html" target="_blank">
                            Chat With Us
                        </a></p>
                </div>
                <div class="contact">
                    <div> <ion-icon class="mail-icon" name="mail-sharp"></ion-icon> </div>

                    <!-- Contact us page link -->
                    <p>
                        <a href="./feedback.html">
                            Contact Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <h3>Useful Links</h3>
            <p>
                <a href="./scannar.html">
                    QR Scanner
                </a>
            </p>
            <p>
                <a href="./qr.html">
                    QR Code Generator
                </a>
            </p>
            <p>
                <a href="./scannar.html">
                    Detail Analysis
                </a>
            </p>
            <p>
                <a href="./qr.html">
                    Dynamic QR Code
                </a>
            </p>

        </div>
        <div>
            <h3>About</h3>
            <p>
                <a href="./about.html">
                    About Us
                </a>
            </p>
            <p>
                <a href="./feedback.html">
                    Contact
                </a>
            </p>
            <p>
                <a href="./blog.html">
                    Blog
                </a>
            </p>
        </div>

        <div class="socialmedia">
            <h3>Social-Media</h3>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-linkedin"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-github"></ion-icon>

        </div>
    </footer>


</body>

</html>

<script src="../Scripts/scannar.js"></script>
<script src="../Scripts/navbar.js"></script>
