<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Inshight-Scannar</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
        integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../Styles/scannar.css">
</head>
<body>
    <nav>
        Navbar
    </nav>

    <div id="qr_scannar_section">
        <div>
            <img src="https://cdn.dribbble.com/users/1042765/screenshots/3636083/qr-code_animated.gif" alt="">
        </div>
        <main>
            <div id="reader"></div>
            <div id="result"></div>
            <button onclick="handleback()" id="backbtn"> Scan QR</button>
        </main>
        <div>
            <img src="https://i.pinimg.com/originals/95/c8/db/95c8db5e266eaa21573d011d5cf0c883.gif" alt="">
        </div>
    </div>
    
    
    <footer>
        Footer
    </footer>
</body>
</html>

<script src="../Scripts/scannar.js"></script>