<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../images/favicon1.png">
    <title>Signup-QR Insight</title>

    <link rel="stylesheet" href="../Styles/signup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../Styles/alert.css">

</head>
<body>
    <div class="login-card" id="raj-form">
        <a href="../index.html"><img src="../images/logo.png" id="qrinsight_logo_login" alt=""></a>
        <h2>Sign-Up</h2>
        <h3>Enter Your Details Here</h3>
        <form class="login-form">
            <input type="text" id="raj-username" placeholder="Enter Your Name"/>
            <input type="email" id="raj-email" placeholder="Enter Your Email"/>
            <input type="password" id="raj-pass" placeholder="Enter Your Password"/>
            <input type="textarea" id="raj-address" placeholder="Enter Your Address"/>
            <select name="" id="raj-gender">
                <option value="">Select Your Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
           
            </select>
            <button id="qr-Registerbtn">Register</button>
            <a href="./login.html">Already User? Login here</a>
        </form>
    </div>
</body>
<script src="../Scripts/signup.js"></script>
</html>