table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

thead {
    /* background-color: #f1f1f1; */
    font-weight: bold;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */