

*{
  margin:0;
  padding:0;
  font-family: sans-serif;

}

body{
  margin: 0;
  padding: 0 24px;
  height: 1vh;
  background:url("https://i.pinimg.com/originals/78/d4/97/78d4979ac0c05005b731a41e93199ccf.gif");
 
  background-size: cover;
  animation:
      pan 6s infinite alternate linear;
}
.raj-container{
  width:360px;
  height: 400px;
  margin: 8% auto;
  background:#fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
h3{
  text-align: center;
  margin-bottom: 40px;
  color:#777;
}
.raj-container form{
  width:280px;
  position: absolute;
  top:100px;
  Left: 40px;
  transition: .5s;
}
form input{
  width:100%;
  padding: 10px 5px;
  margin: 5px o;
  border:0;
  border-bottom:1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder{
  Color:#777;
}
.raj-btn-box{
  width:100%;
  margin: 30px 0px;
  text-align: center;
  /* border: 1px solid red; */
}
form button{
  width:110px;
  height:35px;
  margin: 0 10px;
  background: #216ce7;
  /* Linear-gradient(to right, #9f1dad,#ce56db); */
  border-radius:30px;
  border:0;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8em;
}
form button:hover {
  background: #043e9b;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
#raj-form2{
  left: 450px;
}
#raj-form3{
  left: 450px;
}

.raj-step-row{
  width:360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0-1px 5px-1px #000;
  position:relative;
}
.raj-step-col{
  width: 120px;
  text-align: center;
  Color:#333;
  position: relative;
}
#raj-progress{
  position: absolute;
  height: 100%;
  width: 120px;
  background:#216ce7;
}

small{
  color:#fff;
  font-weight:700;
  font-size: 0.Bem
}
#raj-progress::after{
  content:'';
  height:0;
  width:0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right:-20px;
  top:0;
  border-left:20px solid #216ce7;
}

@media (width <= 500px){
  body {
  padding:0;
  display: grid;
  place-items: center;
  }
  .raj-container{
    margin:100px auto;
  }

}


